.main{
    display: flex;
    border: solid black 1px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 60%;

}

.image{
    width: 7rem;
    border-radius: 15rem;
}

.right{
    text-align: left;
}