.main{
    display: flex;
    gap: 5rem;
    padding: 0 5rem;
    justify-content:space-around;
    border: 1px solid black;
    align-items: center;
}

.left{
    display: flex;
    gap: 2rem;
}

.right{
    display: flex;
    gap: 2rem;
}